main > header .content .text
{
    column-gap: var(--gap-large);
    grid-template-columns: auto auto 1fr;
}

main > header .repos
{
    align-content: flex-end;
    margin-bottom: 1rem;
}

main > header .repos .icon
{
    width: var(--repo-icon-size);
    height: var(--repo-icon-size);
    border-radius: 50%;
}

main > header .actions
{
    display: grid;
    grid-template-columns: auto auto;
    align-content: flex-end;
    justify-content: flex-end;
}

main > header .actions a
{
    color: var(--text-highlight-anchor);
    text-decoration: none;
    padding: var(--gap-small) var(--gap);
    display: inline-block;
    border-radius: 30px;
    margin-block: var(--gap-small);
}
main > header .actions a:hover
{
    color: #ffffff;
    text-shadow: 1px 1px 0 rgb(0 0 0 / .2);
    background: rgb(0 0 0 / .3);
}

table th.accent
,table td.accent
{
    width: 220px;
}

.example.only-code code-example::part(preview)
{
    min-height: auto;
}

/* mobile only */
@media screen and (max-width: 650px)
{

}
/* desktop only */
@media screen and (min-width: 650px)
{
    .quick-reference > code-example::part(html-source-panel)
    {
        height: 330px;
        max-height: none;
    }
    .example.custom-preview code-example::part(preview)
    {
        height: 310px;
    }
    .example.html-css-js code-example::part(preview)
    {
        height: 650px;
    }
    .example.dependencies code-example::part(preview)
    {
        min-height: 200px;
    }
    .example.custom-language code-example::part(preview)
    {
        height: 910px;
    }
}