.browser-mockup
{
    --border-radius: 5px;

    --background: canvas;
    --border-color: infotext;
    --header-background: #2b2b2b;
    --header-font-color: #868686;
    --url-color: #313131;
    --tab-background: #181818;
    --tab-selected-background: #1f1f1f;
    --tab-highlight: #0078d4;
    --tab-selected-font-color: #d7d7d7;

    
    background: var(--background);
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    overflow: auto;
    isolation: isolate;

    & > header
    {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        background: var(--header-background);
        color: var(--header-font-color);
    }

    & > header::before
    {
        content: '☰';
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 7px;
    }

    .tabs
    {
        padding-top: 3px;
        gap: 1px;
        display: flex;
        align-items: flex-end;
    }

    .tabs .tab
    {
        font-size: 12px;
        font-family: sans-serif;
        background: var(--tab-background);
        padding: 5px 1.2em;
        user-select: none;
    }
    .tabs .tab:first-of-type
    ,.tabs .tab:hover
    {
        border-top: solid 1px var(--tab-highlight);
        background: var(--tab-selected-background);
        color: var(--tab-selected-font-color);
    }

    .navigation
    {
        grid-column: span 3;
        display: flex;
        background: var(--tab-selected-background);
    }
    
    .history
    {
        display: flex;
        align-items: center;
        padding: 3px 5px;
        gap: 7px;
    }
    .history .button
    {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 5px;
        user-select: none;
    }
    .history .button:hover
    {
        background-color: rgb(0 0 0 / .5);
    }
    .history .button:nth-of-type(1)
    {
        transform: scaleX(-1);
    }
    .history .button:nth-of-type(2)
    {
        
    }
    .history .button:nth-of-type(3)
    {
        rotate: 100deg;
    }

    .url
    {
        flex: 1;
        display: flex;

        padding: 3px;
        background: var(--tab-selected-background);
    }

    .url .path
    {
        flex: 1;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        font-size: 12px;
        padding: 7px 15px;
        background-color: var(--url-color);
        border-radius: 30px;
        box-shadow: inset 0 0 2px 1px rgba(0 0 0 / .6);
    }

    .actions
    {
        display: none;
    }

    .action
    {
        display: block;
    }

    &.windows .actions
    {
        display: flex;
    }

    &.windows .action
    {
        padding: 0 7px;
        font-size: 12px;
        line-height: 10px;
        display: flex;
        align-items: center;
    }

    &.windows .action:nth-of-type(1)::before
    {
        content: '🗕';
    }
    &.windows .action:nth-of-type(2)::before
    {
        content: '🗖';
    }
    &.windows .action:nth-of-type(3)::before
    {
        content: '🗙';
    }

    &.macos > header::before
    {
        grid-column: 3;
        grid-row: 1;
    }

    &.macos .actions
    {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 0 7px;
        grid-column: 1;
        grid-row: 1;
    }
    &.macos .action
    {
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
    &.macos .action:nth-of-type(1)
    {
        background-color: #00CA4E;
    }
    &.macos .action:nth-of-type(2)
    {
        background-color: #FFBD44;
    }
    &.macos .action:nth-of-type(3)
    {
        background-color: #FF605C;
    }

    /* ♔♕♖♗♘♙
       ♚♛♜♝♞♟
       ♠♣♥♦
       ♡♢♤♧ */
    /* Tabbr Browsr Demor Mockr Chessr Suitr
       Playr Presentr Samplr Showcasr 
    
     */
}
