.example menu
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.example menu a
{
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
    padding: .2em 1em;
}
.example menu a:hover
{
    background-color: highlight;
    color: highlighttext;
    text-decoration: underline;
}

.example > path-router
{
    border: solid 1px canvastext;
}

.example > path-router route-page
{
    --background-color: rgb(0 0 0 / .1);
    background-color: var(--background-color);
    padding: .5em;
}
@media (prefers-color-scheme: dark) 
{
    .example > path-router route-page
    {
        --background-color: rgb(255 255 255 / .1);
    }
}

[is="route-dialog"]
{
    position: fixed;
    top: 200px;
    z-index: 1000;
}
@media (max-width: 750px)
{
    [is="route-dialog"]
    {
        top: auto;
        bottom: 0;
    }
}

.example:has(browser-mockup)
{
    padding-inline: .5em;
}
browser-mockup
{
    margin: 0;
}

@media (max-width: 550px)
{
    .subrouting .about menu
    {
        display: flex;
        flex-direction: column;
    }
    .route-properties route-page
    ,.route-properties route-page menu
    {
        display: flex;
        flex-direction: column;
    }
    .quick-reference .example > menu
    {
        display: flex;
        flex-direction: column;
    }
}