path-router[data-theme="heading-nav"]
{
    --theme-color: rgb(85, 129, 15);
    margin: 30px 1em;
    flex: 1;
    /* display: flex;
    flex-direction: column; */
}
path-router[data-theme="heading-nav"] > route-page[open]
{
    flex: 1;
    display: block !important;
    padding: 1em;
    border: solid 3px var(--theme-color);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

path-router[data-theme="heading-nav"]::before
{
    content: '';
    display: block;
    clip-path: polygon(0 90%, 100% 0, 100% 100%, 0% 100%);
    height: 10px;
    background-color: var(--theme-color);
    translate: 0 calc(-100% + 1px);
    grid-column: 1/1;
    grid-row: 1/1;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 96.99%, 10.00% 91.71%, 20.00% 79.86%, 30.00% 63.68%, 40.00% 46.25%, 50.00% 30.90%, 60.00% 20.54%, 70.00% 17.15%, 80.00% 21.38%, 90.00% 32.41%, 100.00% 48.14%);
}

path-router[data-theme="heading-nav"] > route-page[open] > [is="route-button"][data-theme="heading-nav"]
{
    padding: .2em 1em;
    border: none;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    font-family: sans-serif;
    margin-inline: 0;
    background-color: var(--theme-color);
    color: #f1f1f1;
    border: solid 2px transparent;
}
path-router[data-theme="heading-nav"] > route-page[open] > [is="route-button"][aria-current="page"][data-theme="heading-nav"]
{
    border: solid 2px var(--theme-color);
    background-color: transparent;
    color: var(--theme-color);
}

/* [data-theme="heading-nav"].layout
{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(1170px + 2em);
    margin: 0 auto;
}
[data-theme="heading-nav"].layout > menu
{
    align-self: flex-end;
} */

[is="route-link"][data-theme="heading-nav"]
{
    --theme-color: rgb(85, 129, 15);
    padding: .2em 1em;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    font-family: sans-serif;
    margin-inline: 0;
    border-radius: 30px;
}

[is="route-link"][data-theme="heading-nav"]:hover
,[is="route-link"][data-theme="heading-nav"][aria-current="page"]
{
    background-color: var(--theme-color);
    color: #f1f1f1;
}

:has(> [is="route-link"][data-theme="heading-nav"], > [is="route-button"][data-theme="heading-nav"])
{
    justify-content: flex-end;
}
